In [19]:
import requests
import bs4
import pandas as pd

In [2]:
url = 'https://www.intronesia.com/intro/dari-34-provinsi-di-indonesia-jumlah-kabupaten-dan-kota-di-indonesia-adalah-416-kabupaten-dan-98-kota'
res = requests.get(url)
soup = bs4.BeautifulSoup(res.text, "html.parser")
print(soup.title.string)

intronesia - Dari 34 Provinsi di Indonesia, Jumlah Kabupaten dan Kota di Indonesia adalah 416 Kabupaten dan 98 Kota

In [5]:
provinceTable = soup.table
provinceTable

<table border="1" style="width: 100%;">
<tbody>
<tr>
<th style="text-align: left;">Provinsi</th>
<th>Kabupaten</th>
<th>Kota</th>
<th>Total</th>
</tr>
<tr>
<td>Aceh</td>
<td style="text-align: center;">18</td>
<td style="text-align: center;">5</td>
<td style="text-align: center;">23</td>
</tr>
<tr>
<td>Sumatera Utara</td>
<td style="text-align: center;">25</td>
<td style="text-align: center;">8</td>
<td style="text-align: center;">33</td>
</tr>
<tr>
<td>Sumatera Barat</td>
<td style="text-align: center;">12</td>
<td style="text-align: center;">7</td>
<td style="text-align: center;">19</td>
</tr>
<tr>
<td>Riau</td>
<td style="text-align: center;">10</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">12</td>
</tr>
<tr>
<td>Kepulauan Riau</td>
<td style="text-align: center;">5</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">7</td>
</tr>
<tr>
<td>Jambi</td>
<td style="text-align: center;">9</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">11</td>
</tr>
<tr>
<td>Bengkulu</td>
<td style="text-align: center;">9</td>
<td style="text-align: center;">1</td>
<td style="text-align: center;">10</td>
</tr>
<tr>
<td>Sumatera Selatan</td>
<td style="text-align: center;">13</td>
<td style="text-align: center;">4</td>
<td style="text-align: center;">17</td>
</tr>
<tr>
<td>Kepulauan Bangka Belitung</td>
<td style="text-align: center;">6</td>
<td style="text-align: center;">1</td>
<td style="text-align: center;">7</td>
</tr>
<tr>
<td>Lampung</td>
<td style="text-align: center;">13</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">15</td>
</tr>
<tr>
<td>Banten</td>
<td style="text-align: center;">4</td>
<td style="text-align: center;">4</td>
<td style="text-align: center;">8</td>
</tr>
<tr>
<td>Jawa Barat</td>
<td style="text-align: center;">18</td>
<td style="text-align: center;">9</td>
<td style="text-align: center;">27</td>
</tr>
<tr>
<td>DKI Jakarta</td>
<td style="text-align: center;">1</td>
<td style="text-align: center;">5</td>
<td style="text-align: center;">6</td>
</tr>
<tr>
<td>Jawa Tengah</td>
<td style="text-align: center;">29</td>
<td style="text-align: center;">6</td>
<td style="text-align: center;">35</td>
</tr>
<tr>
<td>Jawa Timur</td>
<td style="text-align: center;">29</td>
<td style="text-align: center;">9</td>
<td style="text-align: center;">38</td>
</tr>
<tr>
<td>DI Yogyakarta</td>
<td style="text-align: center;">4</td>
<td style="text-align: center;">1</td>
<td style="text-align: center;">5</td>
</tr>
<tr>
<td>Bali</td>
<td style="text-align: center;">8</td>
<td style="text-align: center;">1</td>
<td style="text-align: center;">9</td>
</tr>
<tr>
<td>Nusa Tenggara Barat</td>
<td style="text-align: center;">8</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">10</td>
</tr>
<tr>
<td>Nusa Tenggara Timur</td>
<td style="text-align: center;">21</td>
<td style="text-align: center;">1</td>
<td style="text-align: center;">22</td>
</tr>
<tr>
<td>Kalimantan Barat</td>
<td style="text-align: center;">12</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">14</td>
</tr>
<tr>
<td>Kalimantan Selatan</td>
<td style="text-align: center;">11</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">13</td>
</tr>
<tr>
<td>Kalimantan Tengah</td>
<td style="text-align: center;">13</td>
<td style="text-align: center;">1</td>
<td style="text-align: center;">14</td>
</tr>
<tr>
<td>Kalimantan Timur</td>
<td style="text-align: center;">7</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">10</td>
</tr>
<tr>
<td>Kalimantan Utara</td>
<td style="text-align: center;">4</td>
<td style="text-align: center;">1</td>
<td style="text-align: center;">5</td>
</tr>
<tr>
<td>Gorontalo</td>
<td style="text-align: center;">5</td>
<td style="text-align: center;">1</td>
<td style="text-align: center;">6</td>
</tr>
<tr>
<td>Sulawesi Selatan</td>
<td style="text-align: center;">21</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">24</td>
</tr>
<tr>
<td>Sulawesi Tenggara</td>
<td style="text-align: center;">15</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">17</td>
</tr>
<tr>
<td>Sulawesi Tengah</td>
<td style="text-align: center;">12</td>
<td style="text-align: center;">1</td>
<td style="text-align: center;">13</td>
</tr>
<tr>
<td>Sulawesi Utara</td>
<td style="text-align: center;">11</td>
<td style="text-align: center;">4</td>
<td style="text-align: center;">15</td>
</tr>
<tr>
<td>Sulawesi Barat</td>
<td style="text-align: center;">6</td>
<td style="text-align: center;">0</td>
<td style="text-align: center;">6</td>
</tr>
<tr>
<td>Maluku</td>
<td style="text-align: center;">9</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">11</td>
</tr>
<tr>
<td>Maluku Utara</td>
<td style="text-align: center;">8</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">10</td>
</tr>
<tr>
<td>Papua</td>
<td style="text-align: center;">28</td>
<td style="text-align: center;">1</td>
<td style="text-align: center;">29</td>
</tr>
<tr>
<td>Papua Barat</td>
<td style="text-align: center;">12</td>
<td style="text-align: center;">1</td>
<td style="text-align: center;">13</td>
</tr>
<tr style="height: 25.7333px;">
<td style="text-align: left;"><b>Total</b></td>
<td style="text-align: center;"><strong>416</strong></td>
<td style="text-align: center;"><strong>98</strong></td>
<td style="text-align: center;"><strong>514</strong></td>
</tr>
</tbody>
</table>

In [12]:
provinceTable.findAll("tr")[0].findAll('th')

[<th style="text-align: left;">Provinsi</th>,
 <th>Kabupaten</th>,
 <th>Kota</th>,
 <th>Total</th>]

In [23]:
t1 = [] 
t2 = [] 
t3 = [] 
t4 = []
states = []

for item in provinceTable.findAll("tr"):
    if(len(states) == 0):
        states = item.findAll('th')
    cells = item.findAll('td')
    if(len(cells) == 4):
        t1.append(cells[0].find(text=True))
        t2.append(cells[1].find(text=True))
        t3.append(cells[2].find(text=True))
        t4.append(cells[3].find(text=True))

In [24]:
t1

['Aceh',
 'Sumatera Utara',
 'Sumatera Barat',
 'Riau',
 'Kepulauan Riau',
 'Jambi',
 'Bengkulu',
 'Sumatera Selatan',
 'Kepulauan Bangka Belitung',
 'Lampung',
 'Banten',
 'Jawa Barat',
 'DKI Jakarta',
 'Jawa Tengah',
 'Jawa Timur',
 'DI Yogyakarta',
 'Bali',
 'Nusa Tenggara Barat',
 'Nusa Tenggara Timur',
 'Kalimantan Barat',
 'Kalimantan Selatan',
 'Kalimantan Tengah',
 'Kalimantan Timur',
 'Kalimantan Utara',
 'Gorontalo',
 'Sulawesi Selatan',
 'Sulawesi Tenggara',
 'Sulawesi Tengah',
 'Sulawesi Utara',
 'Sulawesi Barat',
 'Maluku',
 'Maluku Utara',
 'Papua',
 'Papua Barat',
 'Total']

In [27]:
df = pd.DataFrame()
df["Provinsi"] = t1
df["Kabupaten"] = t2
df["Kota"] = t3
df["Total"] = t4

In [28]:
df

                     Provinsi Kabupaten Kota Total
0                        Aceh        18    5    23
1              Sumatera Utara        25    8    33
2              Sumatera Barat        12    7    19
3                        Riau        10    2    12
4              Kepulauan Riau         5    2     7
5                       Jambi         9    2    11
6                    Bengkulu         9    1    10
7            Sumatera Selatan        13    4    17
8   Kepulauan Bangka Belitung         6    1     7
9                     Lampung        13    2    15
10                     Banten         4    4     8
11                 Jawa Barat        18    9    27
12                DKI Jakarta         1    5     6
13                Jawa Tengah        29    6    35
14                 Jawa Timur        29    9    38
15              DI Yogyakarta         4    1     5
16                       Bali         8    1     9
17        Nusa Tenggara Barat         8    2    10
18        Nusa Tenggara Timur        21    1    22
19           Kalimantan Barat        12    2    14
20         Kalimantan Selatan        11    2    13
21          Kalimantan Tengah        13    1    14
22           Kalimantan Timur         7    3    10
23           Kalimantan Utara         4    1     5
24                  Gorontalo         5    1     6
25           Sulawesi Selatan        21    3    24
26          Sulawesi Tenggara        15    2    17
27            Sulawesi Tengah        12    1    13
28             Sulawesi Utara        11    4    15
29             Sulawesi Barat         6    0     6
30                     Maluku         9    2    11
31               Maluku Utara         8    2    10
32                      Papua        28    1    29
33                Papua Barat        12    1    13
34                      Total       416   98   514